*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
html{
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --White: hsl(0, 0%, 100%);
    font-size: 15px;
}
body{
    padding: 2rem;
}
.top-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 7rem;
}
.main-description{
    width: 28%;
}
.rate-container{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stars-container{
    display: flex;
    align-items: center;
}
.stars-container > img{
    margin-right: .5rem;
}
.stars-container > p{
    margin-left: 1.5rem;
    font-weight: bold;
    color: var(--Very-Dark-Magenta)
}

.star2{
    margin-left: 3rem;
}
.star3{
    margin-left: 6rem;
}
h1{
    font-size: 3.5rem;
    color: var(--Very-Dark-Magenta);
    margin-bottom: 2rem;
}
.main-description > p{
    line-height: 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--Dark-Grayish-Magenta);
}
.bottom-container{
    display: flex;
    justify-content: center;
}
.buyer-comments-container{
    width: 25%;
    background-color: var(--Very-Dark-Magenta);
    padding: 2rem;
    border-radius: .5rem;
    height: 90%;

}
.buyer-description{
    display: flex;
    align-items: center;
}
.buyer-img{
    width: 15%;
    border-radius: 50%;
    margin-right: 1rem;
}
dl{
    line-height: 1.2rem;
}
dt{
    color: var(--White);
    font-weight: 500;
}
dd{
    color: var(--Soft-Pink);
    font-weight: 400;
    opacity: .8;
}
.buyer-comments-container > p{
    color: var(--White);
    margin-top: 1rem;
    line-height: 1.5rem;
}
.comment2{
    margin-top: 1rem;
    margin-left: 2rem;
}
.comment3{
    margin-top: 2rem;
    margin-left: 2rem;
}
@media (max-width:600px){
    main{
        width: 100%;
        
    }
    .top-container{
        flex-direction: column;
        margin-bottom: 9rem;
    }
    .main-description{
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
    }
    .stars-container{
        flex-direction: column;
        padding: 1rem;
    }
    .star2, .star3{
        margin: 0;
    }
    .stars-container > p{
        margin: .5rem 0;
    }
    .bottom-container{
        flex-direction: column;
    }
    .buyer-comments-container{
        width: 100%;
    }
    .comment2, .comment3{
        margin: 1rem 0;
    }
}